node_modules
/data
# Output
.output
.vercel
/.svelte-kit
/.vscode
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
